.mainBody, 
h1,
.see,
.says,
.hear
{
	text-align: center;
}

img
{
	height: 650px;
	width: 750px;
	margin-left: 200px;
}
audio
{
	display: none;
}
.mainBody
{
	background-image: url("/img/gotBack.png");
	height: 650px;
	width: 1125px;
	color: white;
}