.mainBody, 
h1,
.see,
.says,
.hear
{
	text-align: center;
}

img
{
	height: 650px;
	width: 750px;
	margin-left: 200px;
}
audio
{
	display: none;
}
.main
{
	background-image: url("/img/gotBack.png");
	height: 1080px;
	width: 1600px;
	color: white;
	text-align: center;
}
.workout
{
	text-align: center;
	font-size: 36px;
}
.returnButton
{
	text-align: center;
}
.timer
{
	text-align: center;
	font-size: 36px;
}