.mainBody, 
h1,
.see,
.says,
.hear
{
	text-align: center;
}

.imgClass
{
	height: 650px;
	width: 750px;
	margin-left: 200px;
}
audio
{
	display: none;
}
.main
{
	color: white;
	text-align: center;
}
.workout
{
	text-align: center;
	font-size: 36px;
}
.returnButton
{
	text-align: center;
}
.timer
{
	text-align: center;
	font-size: 36px;
}
body
{

   background-repeat:no-repeat;
   background-size:cover;
}
.enter
{
	margin-left: 40%;
}
.screenOne
{
   	background-repeat:no-repeat;
   	background-size:cover;
}