@font-face {
	font-family: GoT;
	src: url("/fonts/fonty.ttf");
}
.gains{
	border-image: url(texture.jpg) 50 round;
	padding: 5px;
}
th{
	font-family: GoT;
	font-style: italic;
}

div.mainBody{
	font-family: GoT;
}

button{
	font-family: GoT;
}

h1{
	font-family: GoT;
}